<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>We provide chronometric systems and information panels for public buildings, hospitals, railway and bus stations, schools, factories, hotels
                      - wherever accurate time and current information is needed.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>Attek Ltd. is an exclusive distributor in Bulgaria for <a href="http://www.elektrocas.cz/">Elektrocas</a> - a Czech company with almost
                       200 years tradition in designing and manufacturing of time measuring systems. </p>
                </div>
            </div>
        </div>
    </section>
