<!-- Description Section -->
<section class="success" id="description">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>За фирмата</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">

                <p>Предмет на дейност:
                Часовникови системи и информационни табла, предназначени за обществени сгради, заводи, гари, болници, училища, хотели, и навсякъде, където е необходимо да се подава актуална информация и точно време.</p>

                <p>От 1992 г. АТТЕК ООД внедрява и пуска в експлоатация в България часовникови системи и информационни табла, произведени от Електрочас.</p>

                <p>Електрочас (Elektročas s.r.o.) е чешка фирма с близо 200 годишна традиция в разработката и производството на времеизмерващи устройства.</p>

                <p>В България часовниковите системи на Електрочас от десетилетия се използват в транспорта, енергетиката, промишлеността, познати под името Радиосинхрон.</p>

                <p>Понастоящем Електрочас предлага в България цялата си номенклатура посредством своя представител АТТЕК ООД.</p>

            </div>
        </div>
    </div>
</section>
